p1 {background-color: red;
color: white; text-decoration: underline;}
div {color:black; background-color: #F0F8FF;}
ul2 {color: blue;}
div2 { background-color: yellow;}
ul3 { background-color: #FFEBCD; color: orange;}
